$primary : purple;
$warning : aquamarine;
$modal-backdrop-bg : lightgreen;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$vern-theme-colors: (

    "cool" : pink,
    "allen" : cyan
);

$theme-colors : map-merge($vern-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";